<body style="font-family: Avenir">

  <div style="text-align: center">
    <br>
    <h2>How well do you know your favorite artists?</h2>
    <br>
    <h3><%= @message1 %></h3>
    <h3><%= @message2 %></h3>

    <br>

    <h4><%= @message3%></h4>

    <br><br>

    <h4><%= @message4 %></h4>
    <h4><%= @message5 %></h4>

    <br><br>

    <h4><%= @message6 %></h4>
    <h4><%= @message7 %></h4>

    <div>

      <br><br>

      <h2><a href="/">Play Again</a></h2>

<body>
