<link href="/stylesheets/front.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<body style="font-family: Avenir">

  <div style="text-align: center; font-family: Avenir">
    <h3 style="font-weight: bold"><%= @message1 %></h3>
    <br>

    <h4 style="font-weight: bold"><%= @message2 %></h4>
    <br>
    <p style="font-weight: bold"><%= @message3%></p>
    <br>
<br>
    <p><%= @message4 %></p>
    <p style="font-weight: bold"><%= @message5 %></p>

    <br>
<br>
    <p><%= @message6 %></p>
    <p style="font-weight: bold"><%= @message7 %></p>



    <br>
        <p><%= @message8 %></p>
        <p style="font-weight: bold"><%= @message9 %></p>

        <br>
    <br>
        <p><%= @message10 %></p>
        <p style="font-weight: bold"><%= @message11 %></p>





      <br><br>
      <h4 style="font-style: italic; text-size: 30px; font-family: Avenir">How well do you know your favorite artists?</h4>

      <h4 style="font-size: 26px"><a href="/">Play Again</a></h4>

<body>
<div id="grad1" class="grad1" style-"height: 800px"></div>
