<link href="/stylesheets/front.css" rel="stylesheet">

<body style="font-family: Avenir">
    <div style="text-align: center">
      <h2> Trivia Questions </h2>

    <div style="text-size: 20px; font-weight: bold">
      <%= form_tag ("/answers") do |f| %>

      <p><%= @album_questions[0].release_year[:question] %></p>
        <label><input type="text" name="release_year" value=""></label>
        <input type="hidden" name="release_year_id" value="<%= @album_questions[0].id %>">
        <br>
        <p class="hint">(Hint: Somewhere between <%= @album_questions[0].release_year_option %> or <%= @album_questions[0].release_year_option %>)</p>

        <br>

      <p><%= @album_questions[2].popularity_rate[:question] %></p>
          <label><input type="text" name="popularity_rate" value=""></label>
          <input type="hidden" name="popularity_rate_id" value="<%= @album_questions[2].id%>">
          <br>
          <p class="hint">(Hint: Somewhere between <%= @album_questions[2].popularity_rate[:answer] %>% - <%= @album_questions[2].popularity_option %>%)</p>
        <br>

      <p><%= @album_questions[1].track[:question] %></p>
          <label><input type="text" name="track_answer" value=""></label>
          <input type="hidden" name="track" value="<%=@album_questions[1].track[:answer]%>">
          <p class="hint">(True or False)</p>
          <br>

      <%= submit_tag "Enter", class: "btn"%>
      <% end %>
    </div>
    </div>
</body>
